@model PostFormModel

@{
    ViewBag.Title = "Edit Post";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <form method="post">
        <div class="form-group">
            <div class="mb-3">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" placeholder="Write your title here...">
                <span asp-validation-for="@Model.Title" class="small text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Content"></label>
                <input asp-for="Content" class="form-control" placeholder="Write your post here...">
                <span asp-validation-for="@Model.Content" class="small text-danger"></span>
            </div>
        </div>
        <input class="btn btn-primary mt-3" type="submit" value="Edit" />
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}