@using ChatApp.ViewModels.Chat
@model ChatApp.ViewModels.Chat.ChatViewModel

@{
    ViewData["Title"] = "Chat Session";
}

<h3>Messages: </h3>
@foreach (MessageViewModel message in Model.AllMessages)
{
    <div class="card bg-light col-6">
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>@message.MessageText</p>
                <footer class="blockquote-footer">@message.Sender</footer>
            </blockquote>
        </div>
    </div>
}

<p></p>
<form asp-controller="Chat" asp-action="Send" method="post">
    <div class="form-group card-header row">
        <div class="col-12">
            <h5>Send a new message</h5>
        </div>
        <div class="col-8">
            <label>Message: </label>
            <textarea asp-for="CurrentMessage.MessageText" class="form-control" rows="3"></textarea>
            <span asp-validation-for="CurrentMessage.MessageText"></span>
        </div>
        <div class="col-4">
            <label>Sender name: </label>
            <input asp-for="CurrentMessage.Sender" class="form-control" />
            <input class="btn btn-primary mt-2 float-lg-right" type="submit" value="Send" />
        </div>
    </div>
</form>
