@{
    ViewData["Title"] = "Numbers 1...N";
    int count = (int)ViewData["Count"];
}

@if (count > 0)
{
    <h2>Nums 1...@count</h2>
    <ul class="list-group">
        @for (int i = 1; i <= count; i++)
        {
            <li class="list-group-item">@i</li>
        }
    </ul>
}
else
{
    <h2>Nums 1...N</h2>
}

<form asp-controller="Home" asp-action="NumbersToN" method="post">
    <div class="row">
        <div class="col-2">
            <input class="form-control" type="number" min="0" step="1" name="count"/>
        </div>
        <div class="col-2">
            <button class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>