@model TextSplitter.ViewModels.TextSplitViewModel

@{
    ViewData["Title"] = "Text Splitter";
}

<form asp-controller="Home" asp-action="Split" method="post">
    <div class="col-12">
        <input asp-for="@Model.TextToSplit" class="mr-2" />
        <button type="submit" class="btn btn-primary">
            Split Text
        </button>
    </div>
    <span asp-validation-for="@Model.TextToSplit" class="small text-danger col-2"></span>
    <div class="col-2 mt-3">
        <textarea rows="10">@Model.SplitText</textarea>
    </div>
</form>
