@model List<HouseAllViewModel>
@{
    ViewData["Title"] = "My Houses";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr/>

@if (!Model.Any())
{
    <h2 class="text-center">You do not have any houses yet!</h2>
}
else
{
    <div class="row">
        @foreach (HouseAllViewModel house in Model)
        {
            <partial name="_HousePartial" model="house"/>
        }
    </div>
}